TMDB_API_KEY_1=your_tmdb_api_key_1_here
TMDB_API_KEY_2=your_tmdb_api_key_2_here
UPSTASH_REDIS_REST_URL=your_upstash_redis_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token_here
DATABASE_URL=your_database_url_here
JUSTWATCH_API_KEY=your_justwatch_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
NEXTAUTH_SECRET=your_nextauth_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here